
.geo {
  margin-top: 10px;
}

/*#global_wrapper {
  border: solid 2px;
  /*background: #ffffff;
}*/

line {
  stroke: #525b63;
  stroke-dasharray: 4,2;
}

#states path  {
  /*fill: #AFBDCC;*/
  stroke: #D9D9D9;
}

#state path {
  fill-opacity: 0;
  /*stroke: #fff;*/
}

#madagascar_importers path {
  fill: #AFBDCC;
  stroke: #1d7b5a;
}

div {
  width: 960px;
}

.exporters {
    /*fill-opacity: 0.5;
    stroke-opacity: 0.7;*/
    fill: #494277;
    /*stroke: #494277;*/
    stroke-width: 0.5px;
}

#expo_list {
    position: absolute;
    /*top: 270px;*/
    left: 30px;
    width: 250px;
    /*font-size: 12px;
    line-height: 2em;*/
}

#expo_list ul {
    list-style-type: none;
    cursor: pointer;
}

.list {
    clear: left;
}

.list img {
    float: left;
}

#results_box {
    fill: none;
    stroke: #525b63;
    stroke-width: 2;
}
