
img {
    border: 2px solid #CCCCCC;
    display: inline;
    height: 180px;
    margin-bottom: 8px;
    margin-right: 10px;
    width: 226px;
}

.list {
    clear: left;
}

.list img {
    float: left;
}
