{% extends "base.html" %}

{% block custom_js %}
<script type="text/javascript" src="/media/js/choropleth_conf.js"></script>
<script type="text/javascript" src="/media/js/geo.js"></script>
<script type="text/javascript" src="/media/js/choropleth.js"></script>
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="/media/css/choropleth.css" />
<link type="text/css" rel="stylesheet" href="/media/css/colorbrewer.css"/>
{% endblock %}

{% block body %}
<body>
    <h3><a href="../">Home</a></h3>
</body>
{% endblock %}