{% extends "base.html" %}

{% block custom_js %}
<script type="text/javascript" src="/media/js/choropleth_conf.js"></script>
<script type="text/javascript" src="/media/js/geo.js"></script>
<script type="text/javascript" src="/media/js/choropleth.js"></script>
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="/media/css/choropleth.css" />
<link type="text/css" rel="stylesheet" href="/media/css/colorbrewer.css"/>
{% endblock %}

{% block body %}
<body>
    <div id="main_container">
        <div id="nav_container" class="hr">
            <h3><a href="../">Home</a></h3>
        </div>
        <div id="svg_container" class="hr">
            <div id="context_container"></div>
            <div id="map_container"></div>
        </div>
    
    </div>
</body>
{% endblock %}