{% extends "base.html" %}

{% block custom_js %}
<script type="text/javascript" src="/media/js/geom.js"></script>
<script type="text/javascript" src="/media/js/cluster.js"></script>
<script type="text/javascript" src="/media/js/flows2.js"></script>
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="/media/css/global.css" />
{% endblock %}

{% block body %}
<body>
    <h3><a href="../">Home</a></h3>
    <p class="description">Volume of tropical timber imports by supplying country and importing country (million cubic metres RWE). <br />
        Source: Friends of the Earth. <br />
        Peters projection.
    </p>
</body>
{% endblock %}